<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Sup <%= @user.username %>,</h1>
    <p>
      Your Nineties item, <%= @item.title %>, has been reviewed.
    </p>
    <p>
      To see the review, visit <a href="<%= @url %>">here</a>.
    </p>
    <p>Thank you for your support homie!</p>
  </body>
</html>
