.top-bar,.title-area, .top-bar *, .top-bar ul {
  color: #EEEEEE;
  background: rgba(46, 44, 45, 0);
}

.top-bar {
  background: rgba(46, 44, 45, .7);
}

.top-bar:hover {
  background: rgba(46, 44, 45, .9);
}

.title-area *:hover {
  color: #EB6564;
}

.sign-up *:hover {
  color: #EDDB7F;
}

.sign-in *:hover {
  color: #89BA99;
}

.sign-out *:hover {
  color: #EDDB7F;
}

.account-settings *:hover {
  color: #89BA99;
}

body {
  /*background-color: #05A0A8;*/
  background-image: url(/assets/floppies.png);
}

a {
  color: black;
}

ul {
  list-style-type: none;
}

.right {
  float: right;
  display: inline-block;
}

.title-area {
  display: inline-block;
  margin-bottom: 0px;
}

h1 {
  margin-bottom: 0px;
  font-family: 'Bevan', cursive;
}

.right-item {
  display: inline-block;
  font-size: 28px ;
  font-family: 'Bevan', cursive;
  margin-right: 30px;
  margin-top: 10px;
}

.nav-link {
  margin-bottom: 0px;
  margin-top: 15px;
}

.list-item-content:hover{
  background: rgba(255, 255, 255, .75);
}

.content {
  width: 900px;
  margin: auto;
}

.content-box {
  margin-top: 50px;
  background: rgba(255, 255, 255, .7);
  border-radius: 50px;
  padding: 30px 50px 30px 50px;
}

.content * {
  font-family: 'Bevan', cursive;
}

.error-msg {
  width: 900px;
  color: #EB6564;
  margin: auto;
  font-family: 'Bevan', cursive;
  margin: auto;
  margin-top: 50px;
  background: rgba(46, 44, 45, .7);
  border-radius: 50px;
  padding: 30px 50px 30px 50px;
}

.profile_photo {
  border-style: solid;
  border-width: 3px;
  border-color: #0D1B2A;
  border-radius: 100%;
  overflow: hidden;
  margin-top: 5px;
  margin-right: 10px;
}

.right {
  margin-bottom: 0px;
}

.list-item-box {
  padding: 10px;
}

.list-item-content {
  margin: auto;
  margin-top: 20px;
  background: rgba(255, 255, 255, .7);
  border-radius: 50px;
  padding: 30px 50px 30px 50px;
  text-align: center;
}

.index-item-image-box {
  height: 110px;
  margin: auto;
}

.review-button {
  margin-right: 10px;
  border-radius: 5px;
}

.upvote {
  background-color: #89BA99;
}

.downvote {
  background-color: #EB6564;
}

.edit-review {
  background-color: #EDDB7F;
}

.delete-review {
  background-color: #496B87;
}

.review-box {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 50px;
  padding: 30px 50px 30px 50px;
  margin-bottom: 10px;
}

.voteBox {
  border-radius: 5px;
  padding: 5px 10px 5px 10px;
  display: inline-block;
  margin-bottom: 10px;
}

.goodScore {
  background-color: #89BA99;
}

.badScore {
  background-color: #EB6564;
}

.neutralScore {
  background-color: #B3B3B3;
}

.score-text {
  margin-bottom: 0px;
}

.review-buttons {
  margin-top: 20px;
}

.item-title {
  text-align: center;
  margin-bottom: 20px;
}

.review-image {
  margin-bottom: 20px;
  margin: auto;
  display: block;
  border-style: solid;
  border-width: 3px;
  border-color: #0D1B2A;
  border-radius: 5px;
  overflow: hidden;
}


.itemList {
  margin-top: 50px;
}

.submission-date {
  margin-top: 20px;
}
